/* Colors
---------------------------*/
$whiteColor: #FFFFFF;
$fontColor: #212529;
$linkColor : #0056b3;
$bodyColor: #fafafa;            


$primary-color: #3168D1;             
$secondaryColor: #A8AAB2;
$tertiary-color: #EB7A3F;

/* Fonts
---------------------------*/
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto Slab', serif;

/* Font Weight
---------------------------*/
$lowWeight: 300;
$semiMidWeight: 400;
$midWeight: 600;
$highWeight: 700;

/* z-index
---------------------------*/
$z-low-index: 1;
$z-mid-index: 5;
$zHighIndex: 9;

/* Spaces
---------------------------*/
$tinySpace: 10px;
$smallSpace: 20px;
$mediumSpace: 40px;
$largeSpace: 80px;
$xLargeSpace: 120px;

