/*
Header Start
------------*/
@mixin home-page-title($font-size) {
    padding-top: 20px;
    font-size: $font-size;
    text-align: center;
    font-weight: normal;
    word-spacing: 3px;
}

@mixin home-page-list($color, $content) {
    margin-top: 20px;
    list-style: none;
    font-family: $secondary-font;
    font-size: 110%;
    word-spacing: 2px;

    li {
        &::before{
            font-family: ionicons;
            content: $content;
            color: $color;
            margin-right: 8px;
        }
    }

}

header {
    background-image: linear-gradient(to bottom, #67809F, #054135);
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;

    .particles-js-canvas-el {
        position: absolute;
        width: 100%;
        top: 12vh;
        height: 80vh !important;
    }

    .hero-text-box {
        position: absolute;
        top: 45%;
        left: 30%;
        transform: translate(-30%, -45%);
        color: #fff;

        .hero-text-box__title {
            font-size: 220%;
            word-spacing: 5px;
            font-weight: bold;
            color: #fff;
        }

        .hero-text-box__sub-title {
            font-family: $secondary-font;
            margin-top: 20px;
            font-size: 140%;
            word-spacing: 3px;
            color: #ECF0F1;
        }

        .hero-text-box__details{
            @include home-page-list(#ffffff, "\f120");
        }

        a {
            display: inline-block;
            margin-top: 30px;
        }

        .hero-btn {
            @include primary-button ($primary-color, #ffffff, 110% );
            box-shadow: none;
            font-weight: bold;
        }
    }

    .contact {
        color: #fff;
        position: absolute;
        bottom: 3%;
        left: 10%;
        font-weight: bold;
        letter-spacing: 2px;

        i {
            font-size: 170%;
            vertical-align: middle;
            
            &::before {
                animation: bounce .9s infinite;
            }
        }
    }
}
/*
Header End
------------*/

/*
Features Section Start
-------------------------*/

#features-section {
    padding-top: 50px;
    
    .features {
        background-color: #ffffff;
        border: 1px solid #ececec;
        border-radius: 5px;
        padding: 0 10px;
        margin-bottom: 25px;

        .features__title {
            img {
                width: 42px;
                height: auto;
                margin-right: 5px;
            }
            @include home-page-title(160%);
        }

        .features__description {
            font-family: $secondary-font;
            margin: 20px 0;
            word-spacing: 2px;
            line-height: 140%;
            font-size: 105%;
            color: #4d4b4b;
        }
    }
}

/*
Features Section End
-------------------------*/

/*
Customer In Numbers Section Start
---------------------------------*/
#customer-in-numbers {
    padding-top: 50px;
    background-image: linear-gradient(to left top, rgba(82, 90, 119, 0.9), rgba(29, 130, 125, .7)), url(../images/clouds.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;

    .customer-number {
        text-align: center;
        color: #ffffff;
        font-size: 140%;
        font-weight: bold;

        &.customer-number--last {
            padding-top: 20px;
        }
    }
}

/*
Customer In Numbers Section End
---------------------------------*/

/*
Plans Section Start
---------------------*/
#plans {
    padding-top: 20px;
    background-color: #ffffff;

    h1 {
        @include home-page-title(170%);
        padding-bottom: 40px;
    }

    .pricing-box {
        padding: 20px 10px 40px 10px;
        border: 1px solid #599299;
        border-radius: 5px;
        margin-bottom: 40px;

        .pricing-box__title {
            @include home-page-title(150%);
            padding-top: 0;
            font-family: $secondary-font;
            color: darken($primary-color, 12);
            font-weight: lighter;
        }

        .pricing-box__price {
            @include home-page-title(190%);
            font-family: $secondary-font;
            color: $secondary-color;
            font-weight: bold;

            span {
                font-size: 80%;
                vertical-align: text-top;
                margin-right: 3px;
            }
        }

        .pricing-box__details {
            @include home-page-list($primary-color, "\f121");
            text-align: center;
        }

        .pricing-box__button {
            text-align: center;
            margin-top: 20px;
            .pricing-box__btn {
                @include primary-button ($primary-color, #ffffff, 110% );
                box-shadow: none;
                font-weight: bold;
                margin-bottom: -98px;
            }
        }

    }
}

/*
Plans Section End
---------------------*/