.slick-arrow {
    font-size: 0;
    position: absolute;
    color: #34495E;
    border: none;
    background-color: transparent;
    z-index: 1;
    top: 38%;
    box-shadow: none;
    padding: 0;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    &.slick-prev {
        left: 20px;
        text-align: left;

        &:after {
            content: "\f106";
            font-family: "ionicons"; 
            font-weight: 900; 
            font-size: 3rem;
        }
    }

    &.slick-next {
        right: 20px;
        text-align: right;

        &:after {
            font-family: "ionicons"; 
            font-weight: 900; 
            content: "\f109";
            font-size: 3rem;
        }
    }
}

.slick-dots {
    position: absolute;
    z-index: 2;
    bottom: 15px;
    font-size: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    li {
        display: inline;

        button {
            background-color: transparent; /* Green */
            border: none;

            &::before {
                color: #7fd6a0;
                font: 20px/1 'ionicons';
                content: "\f3a6";
                opacity: .7;
            }

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.slick-dots li.slick-active button::before {
    color: #436c94;
    opacity: 1;
    font: 20px/1 'ionicons';
    content: "\f3a7";
}